/* styles.css */
.navbar {
    padding: 1em;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
  }
  
  .filters {
    display: flex;
    gap: 1em;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .filterItem {
    display: flex;
    align-items: center;
  }
  
  .filterLabel {
    padding: 0.2em 0.5em;
    border-radius: 4px;
    margin-left: 0.3em;
    color: #fff;
    cursor: pointer;
  }
  